/* ------------ style-sheet -------------- */
h1 {
    color: aquamarine;
    background-color: blueviolet;
    text-align: center;
}

p {
    background: var(--Backgrounds-Primary, #FFFFFF);
    background-color: blueviolet;
    display: block;
    block-size: auto;
}
.aside {
    width: Fixed (1,210px)px;
    height: Fixed (834px)px;
    gap: 0px;
    opacity: 0px;
}

