body { 
    font-family: Arial, 
    sans-serif; 
    margin: 0; 
    padding: 0; 
    background-color: #f4f4f4; 
} 

.header { 
    background-color: #35424a; 
    color: white; 
    padding: 20px 0; 
    text-align: center; 
} 


.header nav ul { 
    list-style: none; 
    padding: 0; 
    margin: 0; 
    overflow: hidden; 
} 

.header nav ul li { 
    display: inline; 
    margin: 0 15px; 
} 

.header nav ul li a { 
    color: white; 
    text-decoration: none; 
} 

.home, .services, .contact { 
    padding: 40px 20px; 
    text-align: center; 
} 

.services .service { 
    margin: 20px 0; 
    border: 1px solid #ececec; 
    padding: 20px; 
    border-radius: 8px; 
    background-color: rgb(214, 17, 63); 
} 

footer { 
    background-color: #333; 
    color: white; 
    text-align: center; 
    padding: 10px 0; 
    position: fixed; 
    width: 100%; 
    bottom: 0; 
} 

form { 
    max-width: 600px; 
    margin: 0 auto; 
} 

form label { 
    display: block; 
    margin: 10px 0 5px; 

} form input, form textarea, form button { 
    width: 100%; 
    padding: 10px; 
    margin: 5px 0; 
    border: 1px solid #d51616; 
    border-radius: 5px; 
}